<h3>Game <%= data.game %></h3>
<div class="row">
  <div class="cell">
    <h4>2018 season:</h4>
    <% var twentyEighteen = data.selected[2018]; var remaining = [2017, 2001, 1995, 1978]; %>
    <b><%= twentyEighteen.date %></b> <%= twentyEighteen.opponent %><br>
    Final score: <b><%= twentyEighteen.won %>, <%= twentyEighteen.score %></b><br>
    Record: <b><%= twentyEighteen.wins %>-<%= twentyEighteen.losses %></b><br>
    Projected record: <b><%= data.projected %>-<%= 162 - data.projected %><br>
    <% if (twentyEighteen.link) { %>
    <a href="<%= twentyEighteen.link %>" target="_blank">Read game story &raquo;</a>
    <% } %>
  </div>
  <div class="cell">
    <h4>Other seasons:</h4>
    <ul>
      <% remaining.forEach(function(year) { var g = data.selected[year]; %>
      <li> <%= year %>: <b><%= g.wins %>-<%= g.losses %></b>
      <% }); %>
    </ul>
  </div>
</div>
